.margen {
    margin-top: 2em;
}
.negrita {
    font-weight: bold;
    font-size: 22px;
  }
  
.modal-title {
    margin-left: 6em; 
  }
  .copy-icon {
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
  }
  
  .copy-icon:active {
    transform: scale(0.9);
  }
  .url-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    position: relative;
    padding: 15px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .btn {
    color: black;
    margin-top: 1em;
    margin-top: 10px;
}
  
  
  
  
  