<div class="seccion-imagen">
  <img src="assets/principal.jpg" alt="noviosPrueba" class="imagen-superior" />
</div>

  <div>
    <button class="play-button" (click)="togglePlay()">
      <i class="fa" [ngClass]="isPlaying ? 'fa-pause' : 'fa-play'"></i>
    </button>
    <audio #audio>
      <source src="assets/usted.mp3" type="audio/mpeg">
    </audio>
  </div>
  
  
  <div class="text-center">

    <div>
      <h1 class="titulo tangerine">Gabriela &amp; Dennys</h1>
      <div class="fondo-fecha-contador">
      <p class="raleway fecha">18 octubre 2025</p>
     <app-countdown></app-countdown>
     </div>


  <div class="contenedor-lugar">
  <p class="raleway donde">Lugar</p>
  <p class="jardin tangerine">Jardín San Rafael</p>
  <p class="direccion raleway">
    C. del Panteón 20, Atlacomulco 62560 <br>
    Jiutepec, Morelos.
  </p>
  <a href="https://maps.app.goo.gl/G5MiKnmgGSk11cKT8" target="_blank" class="btn-ver-mapa">VER MAPA</a>
</div>


<div class="stacked-carousel">
  <div *ngFor="let foto of fotosCarrusel1; let i = index"
       class="card"
       [ngClass]="{
         'active': i === currentIndexCarrusel1,
         'previous': i === currentIndexCarrusel1 - 1 || (currentIndexCarrusel1 === 0 && i === fotosCarrusel1.length - 1),
         'two-behind': i === currentIndexCarrusel1 - 2 || (currentIndexCarrusel1 <= 1 && i >= fotosCarrusel1.length - 2)
       }">
    <img [src]="foto" [alt]="'Foto ' + (i + 1)">
  </div>
</div>


<div class="contenedor-dresscode">
  <p class="raleway dress">Dress Code</p>
  <p class="aleway blanco">Reserva el blanco para las novias</p>
  <p class="tangerine cocktail">Cocktail Formal</p>
  <a href="https://pin.it/4zG4pjCMO" target="_blank" class="btn-ejemplo">EJEMPLO</a>
</div>



<div class="imagen-itinerario raleway">
  <p class="iti raleway">Itinerario</p>

  <div class="itinerario-con-espejo">
    <img src="assets/itinerario.jpg" class="itinerario">
    <img src="assets/espejo.jpg" class="tira-espejo inferior">
  </div>
</div>




        <p class="donde raleway">Mesa de regalos</p>
<p class="px-3 px-md-0 raleway">
  Tu presencia es nuestro mayor regalo, pero si quieres tener un detalle con nosotros te damos estas sugerencias.
</p>



        
      <div class="container">
  <div class="box">
    <img src="assets/liverpool.png" class="img">
    <a href="https://mesaderegalos.liverpool.com.mx/milistaderegalos/51685057" target="_blank" class="btn-mesa">VER MESA</a>
  </div>
</div>

<div id="carruselFotos" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
  <!-- Indicadores -->
  <div class="carousel-indicators">
    <button *ngFor="let i of fotosCarrusel2; let idx = index"
            type="button"
            data-bs-target="#carruselFotos"
            [attr.data-bs-slide-to]="idx"
            [class.active]="idx === 0"
            [attr.aria-current]="idx === 0 ? 'true' : null"
            [attr.aria-label]="'Slide ' + (idx + 1)">
    </button>
  </div>

  <!-- Imágenes -->
  <div class="carousel-inner">
    <div *ngFor="let foto of fotosCarrusel2; let i = index" class="carousel-item" [class.active]="i === 0">
      <img [src]="foto" class="d-block w-100" [alt]="'DS ' + (i + 1)">
    </div>
  </div>
</div>





<div class="tarjeta text-center ">
  <p class="raleway hospedaje mb-3">
    Recomendaciones de hospedaje
  </p>
  <a href="assets/RECOMENDACIONES DE HOSPEDAJE BODAG&A.pdf" target="_blank" rel="noopener noreferrer" class="btn-recomendaciones">
    VER
  </a>
</div>

<div class="confirmation-container raleway">
  <div class="confirmation-box">
    <p class="evento">Evento exclusivo para adultos</p>
    <p class="reserva">Tenemos reservado para ti</p> 
<p class="pases">{{ invitacion.noInvitados }} pases</p>

    <div class="invitados-wrapper">
      <label for="numeroInvitados" class="label-invitados">Ayúdanos a confirmar el número de asistentes:</label>
      <select id="numeroInvitados" class="form-select select-invitados" [(ngModel)]="body.numeroInvitados" name="numeroInvitados">
        <option *ngFor="let i of [1, 2, 3, 4, 5]" [value]="i">{{ i }}</option>
      </select>
    </div>

    <p class="fecha-confirmacion">Confirma tu asistencia antes del 30 de agosto</p>

    <button class="btn-confirmar mt-3" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
      (click)="confirmar()" [disabled]="botonActivo">
      CONFIRMAR
    </button>  
  </div>
</div>



    </div>
  </div>

      <!-- <div class="d-flex justify-content-between respuestas">
      <label>
        <input class="boton" type="radio" name="asistencia" [(ngModel)]="body.asistencia" (click)="asistencia()" value=true> 
        Asistiré
      </label>

      <label>
        <input type="radio" name="asistencia" [(ngModel)]="body.asistencia" (click)="asistencia()" value=false>  
        No asistiré
      </label>
    </div> -->






