<div class="background-container">
    <div class="content">
        <img src="assets/noviosPrueba.png" alt="noviosPrueba" class="imagen-fondo">
    </div>
    <h1 class="titulo text-center">Luis y Maria</h1>
    <p class="subtitulo text-center">GUARDA ESTA FECHA</p>
    <app-countdown></app-countdown>
    </div>

    <div class="fondo text-center">
        <p class="subtitulo2 ">Nos casamos</p>
        <p>Cada familia tiene su historia. Bienvenidos a la nuestra.</p>
        <img src="assets/manosnovios.png" alt="manosnovios" class="imagen-ajustada" >
        <p class="invitado">Pedro Ivan Juarez Cornejo Y Familia</p>
        <p>2 PASES</p>
        <p>Ya no son dos, sino un solo ser. Por tanto, lo que Dios ha unido, que no lo separe nadie. Estás cordialmente invitado a acompañarnos en nuestra unión matrimonial.</p>
        <P class="text">Con la bendición de nuestros padres y padrinos, tenemos el placer de invitarles a ser testigos de nuestra unión.</P>
            <div class="row">
                <div class="col-md-6">
                    <div class="padres-de-la-novia">
                        <p class="padres">Padres de la novia</p>
                        <p>José Luis Blé Ugalde</p>
                        <p>Maribel González Puertos</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="padres-del-novio">
                        <p class="padres">Padres del novio</p>
                        <p>J. Asención Escutia Valdez</p>
                        <p>Alicia Ríos Medina</p>
                    </div>
                </div>
            </div>
            <p class="donde">Dónde y Cuándo</p>
            <p>Sábado, 30 de Marzo 2024</p>
            <p>Recepción: 3:00 p.m.</p>
            <p>Ceremonia: 4:00 p.m.</p>
            <p>“Jardín Quinta Real“.</p>
            <p id="direccion">Real Miguel Hidalgo 1000, Ahuatepec, 62300 Cuernavaca, Morelos, México.</p>
            <button type="button" class="btn" (click)="openMap()">ABRIR MAPA</button>
            <p class="padrinos">Padrinos de Bodas</p>
            <p>Sin ellos no sería igual.</p>
            
            <div class="carrusel-container">
                <div id="carouselExample1" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExample1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExample1" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExample1" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="d-block w-100">
                        <h5>Jose Luis Ble</h5>
                        <p class="padrinos2">Padrino de Invitaciones.</p>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="d-block w-100">
                        <h5>Carlos Lazo</h5>
                        <p class="padrinos2">Padrino de Vino.</p>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="d-block w-100">
                        <h5>Liliana Arellano</h5>
                        <p class="padrinos2">Madrina de recuerdos.</p>
                      </div>
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Siguiente</span>
                  </button>
                </div>
              </div>
              

              <p class="drescode">Dres Code</p>
              <p class="formal">FORMAL</p>

               <p class="">El color lila está reservado para las damas de honor y el blanco para la novia.</p>

               <div class="row">
                <div class="col-6 col-md-6 text-center">
                    <img src="assets/traje.png" alt="Traje" class="img-fluid mb-2">
                    <p>Traje y corbata</p>
                </div>
                <div class="col-6 col-md-6 text-center">
                    <img src="assets/vestidoLargo.png" alt="Vestido" class="img-fluid mb-2">
                    <p>Vestido largo</p>
                </div>
            </div>

            <P class="programa">Programa</P>
            <p>¡No te lo puedes perder!</p>
            
            <div class="row program-container">
                <div class="col-12 col-md-4 program-item">
                    <img src="https://invites-now.com/wp-content/uploads/2023/11/icon-icono-boda-lila.png" alt="Recepción" class="img-fluid mb-2">
                    <p class="programa2">Recepción</p>
                    <p>Llega a tiempo, y ve en primera fila nuestros mejores momentos.</p>
                </div>
                <div class="col-12 col-md-4 program-item">
                    <img src="https://invites-now.com/wp-content/uploads/2023/11/icono-ramo-lila-2.png" alt="Ceremonia" class="img-fluid mb-2">
                    <p class="programa2">Ceremonia</p>
                    <p>Acompáñanos a unir nuestras vidas.</p>
                </div>
                <div class="col-12 col-md-4 program-item">
                    <img src="https://invites-now.com/wp-content/uploads/2023/04/icono-copas.png" alt="Coctelería" class="img-fluid mb-2">
                    <p class="programa2">Coctelería</p>
                    <p>Disfruta de un rico cocktail y aperitivo.</p>
                </div>
                <div class="col-12 col-md-4 program-item">
                    <img src="https://invites-now.com/wp-content/uploads/2023/04/icono-cena.png" alt="Banquete" class="img-fluid mb-2">
                    <p class="programa2">Banquete</p>
                    <p>Disfrutaremos de una deliciosa cena.</p>
                </div>
                <div class="col-12 col-md-4 program-item">
                    <img src="https://invites-now.com/wp-content/uploads/2023/04/Icono-anillos.png" alt="Primer Baile" class="img-fluid mb-2">
                    <p class="programa2">Primer Baile</p>
                    <p>Acompáñanos al momento más emotivo de la fiesta.</p>
                </div>
                <div class="col-12 col-md-4 program-item">
                    <img src="https://invites-now.com/wp-content/uploads/2023/04/icono-baile.png" alt="Baile" class="img-fluid mb-2">
                    <p class="programa2">Baile</p>
                    <p>Impresiónanos con los prohibidos.</p>
                </div>
            </div>
            <p class="hospedaje">Hospedaje</p>
            <p>Para una estadía más placentera te compartimos estas sugerencias de hospedaje.</p>

            <div class="carrusel-container">
                <div id="carouselExample2" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExample2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExample2" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExample2" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="d-block w-100">
                        <h5 class="hospedaje2">Suite en Cuernavaca</h5>
                        <p>Este es el primer texto del carrusel.</p>
                        <button class="btn">CONOCER MAS</button>

                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="d-block w-100">
                        <h5 class="hospedaje2">Recidencia Cuernavaca</h5>
                        <p>Este es el segundo texto del carrusel.</p>
                        <button class="btn">CONOCER MAS</button>

                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="d-block w-100">
                        <h5 class="hospedaje2">Alojamiento Vacacional Cuernavacang</h5>
                        <p>Este es el tercer texto del carrusel.</p>
                        <button class="btn">CONOCER MAS</button>
                      </div>
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Siguiente</span>
                  </button>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <!-- Columna para el texto -->
                  <div class="col-md-6">
                    <p class="dije">Dije que sí...</p>
                    <p>
                      Amar a alguien es una cosa.
                      Que alguien te ame es otra.
                      Pero que te ame la misma persona que amas, lo es todo.
                    </p>
                    <p class="dije">- Paulo Coelho</p>
                  </div>
                  
                  <!-- Columna para el carrusel -->
                  <div class="col-md-6">
                    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                      <!-- Indicadores del carrusel -->
                      <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active"></button>
                        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1"></button>
                        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2"></button>
                      </div>
                      
                      <!-- Imágenes del carrusel -->
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="assets/noviosParque.png" class="d-block w-100" alt="Slide 1">
                        </div>
                        <div class="carousel-item">
                          <img src="assets/noviosParque.png" class="d-block w-100" alt="Slide 2">
                        </div>
                        <div class="carousel-item">
                          <img src="assets/noviosParque.png" class="d-block w-100" alt="Slide 3">
                        </div>
                      </div>
                      
                      <!-- Controles del carrusel -->
                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <p class="mesa">Mesa de regalos</p>
              <p class="">Tu presencia es nuestro mayor regalo, pero si quieres tener un detalle con nosotros te damos estas sugerencias.</p>
              
              <div class="container">
                <div class="box">
                  <img src="https://invites-now.com/wp-content/uploads/2023/07/pngwing.com-2-e1688762116271.png"  class="img">
                  <a href="https://www.amazon.com/mesa-de-regalos" target="_blank" class="btn">VER MESA</a>
                </div>
            </div>

            <div class="memories-box">
              <p class="recuerdos">Nuestros recuerdos</p>
              <p class="hashtag">Hashtag</p>
              <p>No olvides etiquetarnos en todas tus publicaciones de Instagram y Facebook utilizando nuestro Hashtag…</p>
              <p class="no">#bodabrendayrodrigo</p>
              </div>


            <p class="consideraciones">Consideraciones</p>
            <P> Queremos que sea un día perfecto como lo hemos soñado, ayúdanos a hacerlo posible.</P>
            <p class="no">NO NIÑOS</p>
           <p>Nos encantaría que esta celebración también la disfrutes tanto como nosotros, por eso hemos decidido que sea solo para adultos.</p>
           <p class="consideraciones">Confirmar asistencia</p>
           <p>Favor de confirmar tu asistencia lo antes posible.</p>
           <div class="confirmation-container">
           <div class="confirmation-box">
    <p>¿ASISTIRÁS A NUESTRA BODA?</p>
    <div class="input-group radio-group">
        <label class="left-align">
            <input type="radio" name="asistencia" value="asistire"> Asistiré
        </label>
        <label class="right-align">
            <input type="radio" name="asistencia" value="no-asistire"> No asistiré
        </label>
    </div>
    <button class="btn confirm-btn">CONFIRMAR</button>
</div>
    </div>
