<div class="countdown-wrapper">
  <div class="background-image">
    <div class="countdown-overlay">
      <div class="countdown-container">
        <div class="countdown-box">
          <div class="countdown-number">{{ days }}</div>
          <div class="countdown-label">Días</div>
        </div>
        <div class="countdown-box">
          <div class="countdown-number">{{ hours }}</div>
          <div class="countdown-label">Horas</div>
        </div>
        <div class="countdown-box">
          <div class="countdown-number">{{ minutes }}</div>
          <div class="countdown-label">Min</div>
        </div>
        <div class="countdown-box">
          <div class="countdown-number">{{ seconds }}</div>
          <div class="countdown-label">Seg</div>
        </div>
      </div>
    </div>
  </div>
</div>
