<div class="container"> 
    <h1 class="text-center">Gracias por tu preferencia</h1>
    <h4 class="subtitulo">Para poder continuar por favor  lee las instruciones. </h4>
    <ul class="contenido">
      <li>Crea tu invitacion llenando todos los campos solicitados.</li>
      <li>Se creara una liga de tu evento y tendras que compartir con tus invitados.</li>
      <li>En la Tabla de Registro llevaras el control de tus invitados , la confirmacion y si ya han abierto la invitacion.</li>
     <div class="d-grid d-md-flex justify-content-md-end">
       <button class="btn btn-info me-md-2" type="button"  (click)="continuar()">Continuar</button>
     </div>
   </ul>
   <div class="link-icons">Icons by
    <a href="https://icons8.com">Icons8</a> 
   </div>
</div>
