.table-responsive {
  width: 100%;
}

.table {
  width: 100%;
  margin: 0 auto; /* centrado horizontal */
}

.titulo-registro {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin-top: 2em;
  padding-bottom: 10px;
}

@media (max-width: 767.98px) {
  .table tfoot .btn {
    width: 100%;
  }
}
